# We can dogfood the Github action but using it within our own Github action
# for this repository
name: Testing

on:
  pull_request:
    branches:
      - '*'
  push:
    branches:
      - main
jobs:
  rspec:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler: default
          bundler-cache: true

      - name: Run tests
        run: |
          bundle exec rspec specs/

      # Using the current repo to perform coverage analysis
      - uses: joshmfrankel/simplecov-check-action@main
        with:
          minimum_coverage: 85
          github_token: ${{ secrets.GITHUB_TOKEN }}
